<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="logger" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${user.home}/logging.event/loggingEvent.log"/>
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}-%x-%-5p-%-10c{1}:%m%n"/>
        </layout>
    </appender>



    <logger name="org.pollfish">
        <level value="error"/>
        <appender-ref ref="logger" />
    </logger>



</log4j:configuration>
